<div><table id="hor-zebra" summary="Employee Pay Sheet">
    <thead>
    <tr>
        <th>Path</th>
        <th>Method</th>
        <th>Status</th>
        <th>Size</th>
        <th>Time</th>
    </tr>
    </thead>
    <tbody>
    <% _.each(obj, function(log) {%>

    <tr>
        <td><%=log.host%><%=log.path%></td>
        <td><%=log.method%></td>
        <td><%=log.status%></td>
        <td><%=log.size%></td>
        <td><%=log.date.substring(11,19)%></td>
    </tr>
    <%});%>
    </tbody>
</table></div>
