<div><table id="hor-zebra">
    <thead>
    <tr>
        <th>Path</th>
        <th>Method</th>
        <th>Status</th>
        <th>Size</th>
        <th>Time</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table></div>
